
#  сервер version-store
:8080 {
    # Кросдоменность
    header * {
        # Access-Control-Allow-Origin *
        # Access-Control-Allow-Headers *
        Access-Control-Allow-Headers Content-Type
    }
    
    # Матчер для elasticsearch 
    @elasticsearch {
        # method GET OPTIONS
        method GET OPTIONS POST DELETE PUT
        path /elasticsearch/* 
    }

    # маршрут elasticsearch без аутентификации
    route @elasticsearch {
        uri strip_prefix /elasticsearch
        reverse_proxy  version-store-es01:9200 
    }

    # маршрут тестового golang приложения
    route /goapp/* {
        uri strip_prefix /goapp
        reverse_proxy version-store-goapp:8090
    }
}
